# Final Merged Dataframe & Analysis

# Cleaned Attendance Data

#### This project uses scraped data from ESPN in conjunction with a key statistics csv file found on Kaggle to analyze how attendance trends have changed over time along with what ket statistics effect attendance numbers.#

#### Attendence Data: https://www.espn.com/nfl/attendance/_/year/20XX (with the XX depending on what year)
#### Statistics Data: https://www.kaggle.com/datasets/nickcantalupa/nfl-team-data-2003-2023

#### This notbooks merges the ESPN scraped data and the csv file contianing ket statistics and analyzes how the two are correlated and what realtionship they share. We also analyze attednance trends and what teams fans are loyal or not.

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [4]:
attendance_data = pd.read_csv("fan_attendance.csv", encoding="utf-8")
team_data = pd.read_csv("nfl_team_data_cleaned.csv", encoding="utf-8")

In [5]:
# Merge the dataframes on 'team' and 'year'
merged_df = pd.merge(attendance_data, team_data, on=["team", "year"], how="inner")

In [6]:
display(merged_df)

,team,year,Average Fan Attendance,Fan Attendance,wins,losses,win_loss_perc,total_yards,turnovers
0,Arizona Cardinals,2010,"63,920","1,022,730",5,11,0.313,4309,35
1,Arizona Cardinals,2011,"62,603","1,001,663",8,8,0.500,5192,32
2,Arizona Cardinals,2012,"64,265","1,028,241",5,11,0.313,4209,34
3,Arizona Cardinals,2013,"62,356","997,710",10,6,0.625,5542,31
4,Arizona Cardinals,2014,"65,832","1,053,326",11,5,0.688,5116,17
...,...,...,...,...,...,...,...,...,...
371,Tennessee Titans,2021,"66,898","1,137,282",12,5,0.706,5822,25
372,Tennessee Titans,2022,"68,638","1,166,846",7,10,0.412,5045,23
373,Tennessee Titans,2023,"65,727","1,117,370",6,11,0.353,4913,20
374,Washington Commanders,2022,"63,793","1,084,489",8,8,0.500,5615,23
375,Washington Commanders,2023,"69,161","1,175,750",4,13,0.235,5317,32

In [7]:
merged_df.dtypes

team                       object
year                        int64
Average Fan Attendance     object
Fan Attendance             object
wins                        int64
losses                      int64
win_loss_perc             float64
total_yards                 int64
turnovers                   int64
dtype: object

In [8]:
# change the columns to be an integer

merged_df['year'] = merged_df['year'].astype(int)
merged_df['Average Fan Attendance'] = merged_df['Average Fan Attendance'].astype(str).str.replace(',', '').astype(int)
merged_df['Fan Attendance'] = merged_df['Fan Attendance'].astype(str).str.replace(',', '').astype(int)

In [9]:
display(merged_df)

,team,year,Average Fan Attendance,Fan Attendance,wins,losses,win_loss_perc,total_yards,turnovers
0,Arizona Cardinals,2010,63920,1022730,5,11,0.313,4309,35
1,Arizona Cardinals,2011,62603,1001663,8,8,0.500,5192,32
2,Arizona Cardinals,2012,64265,1028241,5,11,0.313,4209,34
3,Arizona Cardinals,2013,62356,997710,10,6,0.625,5542,31
4,Arizona Cardinals,2014,65832,1053326,11,5,0.688,5116,17
...,...,...,...,...,...,...,...,...,...
371,Tennessee Titans,2021,66898,1137282,12,5,0.706,5822,25
372,Tennessee Titans,2022,68638,1166846,7,10,0.412,5045,23
373,Tennessee Titans,2023,65727,1117370,6,11,0.353,4913,20
374,Washington Commanders,2022,63793,1084489,8,8,0.500,5615,23
375,Washington Commanders,2023,69161,1175750,4,13,0.235,5317,32

In [10]:
# save the into a final csv file

merged_df.to_csv("final_df", encoding='utf-8')